<!DOCTYPE html>
<html lang="en">
<head>
	<%-include('./inc/head')%>
</head>
<body>
	<%-include('./inc/navbar')%>


	<div class="container " style="position: relative; height: 50vh;">
		<form style="position: absolute; width: 450px;transform: translate(-50%,-50%);
		left: 50%;top: 50%;background-color: brown;padding: 15px;color: white;">
		
		  <div class="mb-3">
		    <label for="username" class="form-label">Username</label>
		    <input type="text" class="form-control" id="username" aria-describedby="username" required >
		  </div>

		  <div class="mb-3">
		    <label for="password" class="form-label">Password</label>
		    <input type="password" class="form-control" id="password" required>
		  </div>

		  <div class="mb-3 form-check">
		    <input type="checkbox" class="form-check-input" id="exampleCheck1">
		    <label class="form-check-label" for="exampleCheck1">Check me out</label>
		  </div>

		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>

	<%-include('./inc/folderjs')%>
	
</body>
</html>